body {
  background-color: #ffffff;
  overflow-x: hidden;
}

a, a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background-color: #2A9FC2;
  //outline: 1px solid green;
}

footer .footer-top {
  background: #0E152A;
  padding-top: 50px;
  padding-bottom: 10px;
}

.portfolio .banner .portfolio-banner .project .project-detail h2 {
  font-size: 40px;
  color: #ffffff;
}

.portfolio .banner .portfolio-banner .project .project-detail p {
  font-size: 21px;
  color: #ffffff;
}

.portfolio .banner .portfolio-banner .project .project-detail a {
  font-size: 17px;
  color: #ffffff;
}

.btn.focus, button:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

a.whatsapp-mobile {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background: #ffffff;
  z-index: 3;
  box-shadow: 0 0px 13px 1px rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 48px;
  padding: 5px;

  img {
    width: 38px;
  }
}

a.call-button {
  position: fixed;
  top: 50%;
  right: 0;
  background: #FFFFFF;
  transform: translate(179px, -50%);
  z-index: 3;
  padding: 15px 22px;
  box-shadow: 0 0px 13px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover {
    transform: translate(0%, -50%);
    transition: all 0.3s;
  }

  img {
    vertical-align: initial;
    margin-right: 15px;
  }

  span {
    font-size: 18px;
    color: #000000;
    position: relative;
    display: inline-block;
    padding-left: 10px;

    &:before {
      position: absolute;
      top: -16px;
      left: 0;
      content: "";
      height: 57px;
      width: 1px;
      background: #D8D8D8;
    }
  }
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: #0083AA;
  overflow: auto;
  transition: all 0.4s ease-in-out;
  box-shadow: #8b8b8b45 0px 8px 7px 0px;
  padding: 35px;
  transform: translateX(100%);
  width: 400px !important;

  a.closebtn {
    font-size: 36px !important;
    padding: 0 !important;
    position: sticky;
    color: #FFFFFF;
    top: 0;
    right: 0;
    line-height: 36px;
    float: right;
  }

  &.main-nav {
    transform: translateX(0%);
    transition: all 0.4s ease-in-out;
  }

  ul.contact-list {
    margin: 15px 0;

    li {
      padding-left: 45px;
      margin-bottom: 5px;
      position: relative;
      display: block;

      &:not(:last-child) {
        margin-right: 0;
      }

      &.email {
        &:before {
          content: url("../../assets/img/email.png");
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }

      &.call {
        &:before {
          content: url("../../assets/img/phone.png");
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }

      &.place {
        &:before {
          content: url("../../assets/img/place.png");
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }


      span {
        display: block;
        color: #ffffff;
      }

      a {
        padding-top: 0 !important;
        text-transform: initial;
        font-size: 18px;
      }
    }
  }

  ul {
    padding-left: 0;

    li {
      a {
        position: relative;
        padding: 10px 10px 10px 0;
        text-decoration: none;
        font-size: 15px;
        color: #FFFFFF;
        display: inline-block;
        transition: 0.3s;
        opacity: 1;
        text-transform: uppercase;
      }
    }
  }

  ul.social-media-footer {
    li {
      a {
        img {
          filter: brightness(100%);
        }
      }
    }
  }

  .get-in-touch {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #ffffff;

    h3 {
      color: #FFFFFF;
      font-size: 24px;
    }
  }

}

.page {
  margin-top: 100px;
  padding-bottom: 50px;
}

.free-consultation {
  background-image: url("../../assets/img/consultation.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
  margin-top: 50px;
  padding-bottom: 75px;

  .text-content {
    padding-top: 200px;

    h4, h6, p {
      color: #FFFFFF;
    }

    h6 {
      font-size: 20px;
    }

    h4 {
      font-weight: 700;
      font-size: 65px;
      line-height: 65px;
    }
  }

  form {
    margin-top: 25px;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0 0px 13px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;

    input {
      margin-bottom: 25px;
      border: none;
      border-bottom: 1px solid #CBCBCB;
      border-radius: 0;
      width: 100%;
      height: 50px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    button {
      border: none;
      background: #EC1B69;
      color: #FFFFFF;
      height: 52px;
      border-radius: 5px;
      margin-bottom: 0;
      width: 100%;
      font-size: 20px;

      img {
        filter: brightness(500%);
        padding-left: 10px;
      }
    }

    textarea {
      margin-bottom: 25px;
      border: none;
      border-bottom: 1px solid #CBCBCB;
      border-radius: 0;
      height: 75px;
      width: 100%;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }


}

.navbar {
  padding: 0;
  overflow: hidden;
  transition: all 0.3s;


  &.inner {
    background: #FFFFFF;
    box-shadow: rgba(139, 139, 139, 0.27) 1px 1px 5px 1px;
    padding: 10px;

    .navbar-brand {
      padding-left: 65px;
      background: #FFFFFF;
      position: relative;
      text-align: center;
    }

    .navbar-nav {
      text-align: center;

      li.nav-item {
        &.active, &:hover {
          a.nav-link {
            border: 1px solid #7A7A7A;
            transition: all 0.3s;

          }
        }

        a.nav-link {
          color: #7A7A7A;
          border: 1px solid transparent;
          transition: all 0.3s;


          img {
            filter: brightness(0);
          }
        }
      }
    }

  }

  &.index {
    background: transparent;

    .navbar-brand {
      background: #FFFFFF;
      padding: 15px;
      position: relative;
      left: -15px;
      height: 144px;
      width: 164px;
      text-align: center;
    }
  }

  .navbar-nav {
    li.nav-item {
      &:not(:last-child) {
        margin-right: 25px;
      }

      &.active, &:hover {
        a.nav-link {
          border: 1px solid #ffffff;
          transition: all 0.3s;
        }
      }

      a.nav-link {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        padding: 10px 25px;
        border: 1px solid transparent;
        transition: all 0.3s;

      }
    }
  }

  .navbar-toggler {
    margin-right: 15px;
  }

}

a.toggle-link {
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  background: #FFFFFF;
  height: 50px;
  width: 75px;
  z-index: 1031;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0px 13px 1px rgba(0, 0, 0, 0.1);
  opacity: 0;

  img {
    filter: brightness(0);
  }
}

footer {
  .footer-top {
    background: #0E152A;
    padding: 50px 0;

    a.footer-logo {
      display: block;
      text-align: center;

      img {
        max-width: 150px;
      }
    }

    .quick-links {
      ul {
        list-style-type: none;
        padding-left: 0;

        li {
          margin-bottom: 15px;

          a {
            font-size: 14px;
            color: #7082B8;
            text-transform: uppercase;
          }
        }
      }
    }

    h4 {
      font-size: 14px;
      color: #7082B8;
      text-transform: uppercase;
    }

    .subscribe-form {
      position: relative;
      height: 70px;
      border: 1px solid #7082B8;
      overflow: hidden;
      width: 100%;
      display: block;
      margin: 25px 0;

      input[type="email"] {
        display: block;
        border: none;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0 !important;
        width: calc(100% - 60px);
        background: transparent;
        border-radius: 0;
        color: #7082B8;
      }

      button {
        width: 60px;
        position: relative;
        height: 70px;
        float: right;
        background: #0E152A;
        outline: none;
        border: none;
        font-size: 17px;
        padding: 0 25px;
        text-transform: uppercase;
        border-radius: 0;

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          content: url("../../assets/img/footer-arrow.svg");
          transform: translate(-50%, -50%);
        }
      }
    }

    ul.social-media-footer {
      li {
        &:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }

  .footer-bottom {
    background: #0A1023;
    padding: 25px 0;

    span {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #7082B8;

      a {
        font-size: 14px;
        color: #7082B8;
      }
    }
  }
}

.owl-dots {
  margin-top: 0 !important;

  .owl-dot {
    span {
      margin: 0 5px;
    }

    &.active {
      span {
        background: #2A9FC2 !important;
      }
    }
  }
}

.social-media {
  position: fixed;
  box-shadow: 0 4px 9px 0px rgba(0, 0, 0, 0.1);

  left: 0;
  top: 0;
  background: #FFFFFF;
  width: 77px;
  height: 100%;
  overflow: initial;
  z-index: 2;

  .social-media-inner {
    position: relative;
    height: 100%;
    width: 100%;

    a {
      img.side-logo {
        padding: 10px;
      }
    }

    ul {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      list-style-type: none;
      padding-left: 0;

      li {

        a {
          margin: 15px 0;
          display: block;

          &.email-id {
            img {
              padding: 5px;
            }
          }

          img {
            padding: 10px;
          }
        }
      }
    }
  }
}

.index {
  .banner-slider {
    .banner-item {
      position: relative;
      width: 100%;
      display: block;

      &:before {
        //content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.25);
      }

      .banner-image {
        img {
          width: 100%;
        }
      }

      .banner-details {
        position: absolute;
        top: 70%;
        left: 250px;
        transform: translateY(-50%);

        h1 {
          color: #FFFFFF;
          font-size: 80px;
        }

        h5 {
          text-transform: capitalize;
          color: #FFFFFF;
          font-size: 21px;
        }

        a {
          color: #FFFFFF;
          position: relative;
          padding-left: 70px;
          margin-top: 25px;
          display: block;
          transition: all 0.4s;

          &:hover {
            margin-left: 10px;
            transition: all 0.4s;

          }

          &:before {
            content: url("../../assets/img/more.png");
            position: absolute;
            top: -6px;
            left: 0;
          }
        }
      }

    }
  }

  .about {
    padding: 50px 0 25px 0;

    h2 {
      font-size: 74px;
      color: #3E3E3E;
    }

    a {
      color: #8B8B8B;
      position: relative;
      padding-left: 50px;
      margin: 15px 0 25px 0;
      display: block;
      font-size: 15px;
      transition: all 0.4s;

      &:hover {
        margin-left: 10px;
        transition: all 0.4s;

      }

      &:before {
        content: url("../../assets/img/more-grey.png");
        position: absolute;
        top: -3px;
        left: 0;
      }
    }

    p {
      text-align: left;
      font-size: 14px;
      color: #5A564F;
    }
  }

  .our-services {
    margin: 25px 0;
    min-height: 1000px;
    background-image: url("../../assets/img/our-services-shape.png");
    background-position: 125% center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: url("../../assets/img/our-services-left.png");
    }

    a.view-all {
      display: block;
      text-align: center;
      font-size: 14px;
      color: #6B6863;
      margin: 0 auto;
      width: 105px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 23px;
        background: #6B6863;
        top: 55%;
        transform: translateY(-50%);
        left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 23px;
        background: #6B6863;
        top: 55%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    .services {
      margin: 15px 0;

      .owl-item {
        &:nth-child(odd) {
          margin-top: 57px;
        }

        .service {
          &:hover {
            background: #48B7D8;
            transition: all .4s;
            box-shadow: none;

            h5, p {
              color: #FFFFFF;
              transition: all .4s;
            }

            a.read-more {
              img {
                filter: brightness(500%);
              }
            }
          }

          padding: 30px 15px;
          background: #FFFFFF;
          border-radius: 17px;
          box-shadow: 0 0px 13px 1px rgba(0, 0, 0, 0.1);
          margin: 20px 5px 5px 10px;
          text-align: center;
          transition: all .4s;

          img.service-image {
            max-width: 64px;
            display: block;
            margin: 0 auto;
          }

          h5 {
            font-size: 20px;
            margin-top: 10px;
            color: #3E3E3E;
            transition: all .4s;
          }

          p {
            font-size: 14px;
            color: #5A564F;
            transition: all .4s;
          }

          a {
            img {
              max-width: 46px;
              margin: 0 auto;
            }
          }
        }

      }

      .owl-dots {
        margin-top: 0 !important;

        .owl-dot {
          span {
            margin: 0 5px;
          }

          &.active {
            span {
              background: #2A9FC2;
            }
          }
        }
      }
    }
  }

  .our-clients {
    .clients {
      margin: 50px 0;

      .owl-item {
        margin-bottom: 5px;

        .client {
          height: 169px;
          border: 1px solid #E8E8E8;

          &:hover {
            box-shadow: 0 4px 9px 0px rgba(0, 0, 0, 0.1);
          }

          a {
            display: block;
            text-align: center;
            position: relative;
            padding: 30px;
            height: 169px;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 150px;
              max-height: 130px;
              width: auto;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

  .portfolios {
    margin: 50px 0;
    background-image: url("../../assets/img/bg-dot.jpg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 10% 100%;

    a.view-all {
      font-size: 14px;
      color: #6B6863;
      padding-right: 30px;
      position: relative;
      float: right;

      &:hover {
        text-decoration: underline;
      }

      &:after {
        position: absolute;
        right: 0;
        top: 3px;
        content: url("../../assets/img/arrow.png");
      }
    }

    .portfolio-slider {
      margin: 25px 0;

      .portfolio {
        margin-bottom: 30px;
        position: relative;

        &:hover {
          .portfolio-details {
            opacity: 1;
            transition: all 0.4s;
            background: #FFFFFF;

            a.arrow {
              right: 15px;
              transition: all 0.4s;
              transition-delay: 0.1s;
            }
          }
        }

        a.portfolio-image {
          img {
            width: 100%;
          }
        }

        .portfolio-details {
          transition: all 0.4s;

          opacity: 0;
          position: absolute;
          bottom: 15px;
          left: 15px;
          right: 15px;
          padding: 15px;

          h4 {
            margin-bottom: 0;

            a {

              text-transform: uppercase;
              font-size: 13px;
              color: #6B6863;
            }
          }

          h3 {
            margin-bottom: 0;

            a {

              font-size: 19px;
              color: #3E3E3E;
            }
          }

          a.arrow {
            display: block;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.4s;


            img {
              height: 13px;
              width: 13px;
            }
          }

        }
      }

      .owl-nav {
        .owl-next {
          position: relative;
          width: 21px;
          margin: 5px 25px;

          &:before {
            content: url("../../assets/img/arrow.png");
            top: 0;
            left: 0;
            display: inline-block;
            position: absolute;
          }

          span {
            display: none;
          }
        }

        .owl-prev {
          position: relative;
          width: 21px;
          margin: 5px 25px;

          &:before {
            content: url("../../assets/img/arrow.png");
            left: 0;
            top: -5px;
            transform: rotate(180deg);
            display: inline-block;
            position: absolute;
          }

          span {
            display: none;
          }
        }
      }
    }

    .slider-counter {
      width: 100%;
      text-align: center;
      position: relative;
      margin-top: -32px;

    }
  }

  .testimonials {
    p {
      font-size: 14px;
      color: #5A564F;
    }

    h5 {
      font-size: 18px;
      color: #6B6863;
    }

    h6 {
      font-size: 28px;
      color: #3E3E3E;
    }

    .owl-nav {
      .owl-next {
        position: relative;
        width: 21px;
        margin: 5px 25px;

        &:before {
          content: url("../../assets/img/arrow.png");
          top: 0;
          left: 0;
          display: inline-block;
          position: absolute;
        }

        span {
          display: none;
        }
      }

      .owl-prev {
        position: relative;
        width: 21px;
        margin: 5px 25px;

        &:before {
          content: url("../../assets/img/arrow.png");
          left: 0;
          top: -5px;
          transform: rotate(180deg);
          display: inline-block;
          position: absolute;
        }

        span {
          display: none;
        }
      }
    }

    .slider-counter1 {
      width: 100%;
      text-align: center;
      position: relative;
      margin-top: -10px;

    }

    .testimonial-slider {
      .testimonial {
        .testimonial-comment {
          background: #F5F5F5;
          padding: 30px;
          text-align: justify;
          position: relative;
          margin-bottom: 10px;

          &:after {
            display: inline-block;
            content: "";
            border-top: 10px solid #F5F5F5;
            border-right: 10px solid transparent;
            border-bottom: 0;
            border-left: 10px solid transparent;
            position: absolute;
            left: 10px;
            bottom: -10px;
          }

          span {
            font-size: 14px;
            color: #3E3E3E;
          }
        }

        .avatar {
          display: flex;
        }

        .profile-image {
          display: inline-block;
          width: 25%;
          padding: 15px;

          img {
            max-width: 58px;
            max-height: 58px;
          }

        }

        .profile-info {
          display: inline-block;
          width: 75%;
          padding-top: 15px;

          h5 {
            font-size: 18px;
            margin-bottom: 0;
            color: #3E3E3E;
          }

          h6 {
            font-size: 13px;
            color: #A8A8A8;
          }

        }
      }
    }
  }

  .news-and-articles {
    padding-left: 14%;
    margin: 25px 0 100px 0;
    background-image: url("../../assets/img/bg-dot.jpg");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 10% 50%;

    h4 {
      font-size: 18px;
      color: #6B6863;
      margin-bottom: 0;
    }

    h5 {
      font-size: 28px;
      color: #3E3E3E;
    }

    .owl-nav {
      position: absolute;
      top: -50px;
      right: 16%;
      margin-top: 0;

      .owl-next {
        position: relative;
        width: 21px;
        margin: 5px 25px;

        &:before {
          content: url("../../assets/img/more-grey.png");
          top: 0;
          left: 0;
          display: inline-block;
          position: absolute;
        }

        span {
          display: none;
        }
      }

      .owl-prev {
        position: relative;
        width: 21px;
        margin: 5px 25px;

        &:before {
          content: url("../../assets/img/more-grey.png");
          left: 0;
          top: -5px;
          transform: rotate(180deg);
          display: inline-block;
          position: absolute;
        }

        span {
          display: none;
        }
      }
    }

    .news-articles {
      padding: 25px 0 0 0;

      .block {
        .block-image {
          display: block;
          margin-bottom: 15px;
        }

        h6 {
          font-size: 17px;
          color: #5B5B5B;
          margin-bottom: 0;
        }

        ul {
          li {
            span {
              font-size: 13px;
              color: #8A8A8A;
            }
          }
        }
      }
    }

  }

  .locations {
    padding: 50px 0;

    img {
      text-align: center;
      width: 100%;
    }
  }

}

.portfolio {
  .banner-common {
    background-image: url("../../assets/img/portfolio.png") !important;
  }

  .banner {
    margin-bottom: 50px;

    .portfolio-banner {
      .project {
        position: relative;

        .project-image {
          img {
            width: 100%;
          }
        }

        .project-detail {
          position: absolute;
          top: 50%;
          left: 15%;
          transform: translate(-50%, -50%);

          h2 {
            font-size: 80px;
            color: #585858;
          }

          p {
            font-size: 21px;
            color: #585858;
          }

          a {
            font-size: 17px;
            color: #585858;

            img {
              width: 58px;
              display: inline-block;
              padding-right: 10px;
            }
          }
        }
      }
    }

    .owl-dots {
      position: relative;
      bottom: 25px;

      .owl-dot.active {
        span {
          background: #000000 !important;
        }

      }
    }
  }

  .portfolio-inner {
    p {
      font-size: 14px;
      color: #5A564F;
    }

    h5 {
      color: #6B6863;
      font-size: 18px;
      margin-bottom: 0;
    }

    h4 {
      font-size: 28px;
      color: #3E3E3E;
      margin-bottom: 50px;
    }

    .portfolio-block {
      margin-top: 25px;

      .portfolio-image {
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      .portfolio-block-details {
        span {
          font-size: 13px;
          color: #AEAEAE;
        }

        h6 {
          font-size: 20px;
          color: #3E3E3E;
        }
      }
    }
  }
}

.page {


  .banner-common {
    height: 500px;
    background-image: url("../../assets/img/about.png");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 50px;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      background: rgba(0, 0, 0, 0.4);
    }

    h1 {
      color: #FFFFFF;
      text-transform: capitalize;
      font-size: 97px;
      transform: translateY(300%);
    }
  }
}

.about-us {
  .banner-common {
    background-image: url("../../assets/img/about.png");
  }

  .about-inner {
    h4 {
      font-size: 37px;
      margin-bottom: 25px;
    }

    p {
      font-size: 14px;
      color: #5A564F;
    }

  }

  .mobile-app {
    margin: 75px 0;
    width: 100%;
    position: relative;
    padding: 175px 0;
    background-image: url("../../assets/img/app-bg.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;

    &:after {
      position: absolute;
      height: 100%;
      width: 50%;
      content: "";
      left: 0;
      bottom: 0;
      background: #EFC337;
      z-index: -1;
    }

    h3 {
      font-size: 88px;
      font-weight: bold;
      margin-bottom: 0;
    }

    h4 {
      font-size: 33px;
      font-weight: bold;
      padding-left: 50px;
    }

    span {
      font-size: 21px;
      position: relative;
      bottom: 10px;
    }

  }

  .our-team {
    margin: 50px 0;
    padding-bottom: 50px;

    h5 {
      font-size: 37px;
      font-weight: bold;
    }

    .team-row {
      display: flex;
      width: 100%;
      //align-items: center;
      //justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      align-content: flex-end;
      margin: 25px 0;

      .team-item {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 25%;

        &:hover {
          .member-details {
            transform: translateY(0%) !important;
            transition: all 0.3s;
            opacity: 1;
          }

          .team-image {
            img {
              filter: grayscale(0);
              transition: all 0.3s;

            }
          }
        }

        .team-image {
          img {
            width: 100%;
            filter: grayscale(1);
            transition: all 0.3s;

          }
        }

        .member-details {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 15px;
          background: #FFFFFF;
          transform: translateY(100%) !important;
          transition: all 0.3s;
          opacity: 0;

          h6 {
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
          }

          p {
            margin-bottom: 0;
            font-size: 14px;
            color: #686868;
          }
        }
      }
    }
  }

}

.services-page {
  padding-bottom: 50px;

  .banner-common {
    background-image: url("../../assets/img/services.png");
  }

  .all-services {
    background-image: url("../../assets/img/bg-service.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom left;

    .service {
      padding: 50px 0;

      .service-image {
        margin-bottom: 25px;
      }

      .service-details {
        position: relative;

        h4 {
          font-size: 20px;

          a {
            color: #000000;
          }
        }

        span {
          color: #5A564F;
        }

        p.count {
          position: absolute;
          top: 0;
          left: -50px;
          font-size: 14px;
          color: #000000;
          display: none;
        }
      }
    }
  }

  .lets-talk {
    h3 {
      font-size: 97px;
      font-weight: bold;
      line-height: 80px;
      margin-bottom: 0;

      img {
        padding-left: 50px;
      }
    }

    span {
      font-size: 14px;
      text-transform: capitalize;
    }
  }

}

.contact-page {
  .banner-common {
    background-image: url("../../assets/img/contact.png");
  }

  .contact-inner {
    h4 {
      font-size: 54px;
      font-weight: bold;
    }

    h5 {
      font-size: 38px;
      margin-bottom: 0;
      font-weight: 300;
    }

    form {
      margin: 50px 0;
      width: 100%;

      input, textarea {
        width: 100%;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #707070;
        border-radius: 0;
        height: 54px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      textarea {
        height: 100px;
      }

      input[type="submit"] {
        border: none;
        background: #000000;
        color: #FFFFFF;
      }
    }

    .location {
      margin-bottom: 30px;

      &:first-child {
        border-bottom: 1px solid #707070;
        padding-bottom: 30px;
      }

      h5 {
        text-transform: capitalize;
        font-size: 23px;
        margin-bottom: 15px;
      }

      iframe {
        margin-bottom: 10px;
      }

      p {
        font-size: 17px;
        font-weight: 300;

        img {
          max-width: 25px;
          margin-right: 15px;
        }
      }
    }
  }
}

.blog-page {
  .banner-common {
    background-image: url("../../assets/img/blogs.png");
  }

  .blogs {
    .blog-block {
      padding-bottom: 30px;

      h5 {
        font-size: 23px;
        margin-bottom: 15px;
        font-weight: 300;
      }

      .blog-image {
        margin-bottom: 10px;
      }

      .blog-block-details {
        ul.blog-by {
          margin: 10px 0;
          list-style-image: none;
          padding-left: 0;

          li {
            &:not(:last-child) {
              position: relative;
              margin-right: 15px;
              padding-right: 15px;

              &:after {
                position: absolute;
                right: 0;
                content: "";
                top: 50%;
                transform: translateY(-50%);
                height: 15px;
                width: 1px;
                background: #A1A1A1;
              }
            }

            span {
              font-size: 14px;
              color: #A1A1A1;
              text-transform: uppercase;
            }
          }
        }

        ul {
          list-style-image: url("../../assets/img/list-style.svg");
          padding-left: 40px;
          margin: 20px 0;

          li {
            margin-bottom: 10px;
            font-size: 18px;
          }
        }

        p {
          color: #5A564F;
          font-weight: 300;
        }
      }
    }
  }

  .recent-blogs {
    h5 {
      font-size: 23px;
      margin-bottom: 15px;
      font-weight: 300;
    }

    .blog-block {
      p {
        font-size: 18px;
        color: #000000 !important;
        font-weight: 400 !important;
      }
    }
  }
}

.service-detail-page {
  .banner-common {
    background-image: url("../../assets/img/services.png");
  }

  .service-detail-inner {
    img {
      margin: 15px 0;
    }

    p {
      color: #5A564F;
      font-weight: 300;
    }

    .quick-nav {
      ul {
        list-style: none;
        padding-left: 0;

        li {
          &.active, &:hover {
            a {
              color: #000000 !important;
              font-weight: 400;
              transition: all 0.2s;
            }
          }

          a {
            margin-bottom: 20px;
            color: #5A564F;
            font-weight: 300;
            display: block;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

.careers {
  .banner-common {
    background-image: url("../../assets/img/career.png");
  }

  .careers-inner {
    .career-block {
      padding-bottom: 25px;
      margin-top: 25px;
      border-bottom: 1px solid #707070;
      position: relative;

      a.apply-now {
        background: #000000;
        display: block;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        font-size: 14px;
      }

      a.arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      h5 {
        display: block;
        padding-right: 25px;
        position: relative;
        color: #000000;

        a {
          font-size: 20px;
          color: #000000;
          text-transform: capitalize;
        }
      }
    }

    h6 {
      margin: 25px 0 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #000000;

      a {
        color: #FF9F00;
        margin-left: 10px;
      }
    }

    ul {
      list-style-image: url("../../assets/img/list-dark.svg");
      margin: 15px 0 30px 0;
      padding-left: 25px;

      li {
        font-size: 15px;
        margin-bottom: 15px;
        color: #000000;
      }
    }

    .apply-now-form {
      margin: 50px 0 0 0;

      .phone {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #707070;
        height: 65px;
        overflow: hidden;

        input, select {
          border: none;
        }

        select {
          border-right: 1px solid #707070;
          width: 70px;
        }
      }

      input, select, textarea {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #707070;
        height: 65px;
        border-radius: 0;
        padding: 10px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      input[type="submit"] {
        background: #000000;
        color: #FFFFFF;
        text-align: center;
        height: 66px;
        max-width: 250px;
        width: 100%;
        text-transform: uppercase;
      }

      textarea {
        height: 146px;
      }

      #upload-file-img, #upload-file-video {
        display: none;
      }

      #fileupload-img {
        display: block;
        text-align: center;
        border: 1px solid #707070;
        margin-bottom: 15px;
        height: 143px;
        padding: 5px;
        padding-top: 30% !important;

        span {
          font-size: 14px;
          color: #000000;
          display: block;
          text-align: center;
        }
      }
    }

    .tabs {
      margin: 25px 0;

      .tab-sec {
        .nav-tabs {
          display: flex;
          border-bottom: none;
          list-style-image: none;
          padding-left: 0;

          li.nav-item {
            width: 33.333%;
            text-align: center;
            margin-bottom: 0;

            &:last-child {
              margin-left: 10px;
            }

            a.nav-link {
              border-radius: 0;
              font-size: 16px;
              text-transform: uppercase;
              color: #000000;
              padding: 10px 15px;
              background: #ffffff;
              text-align: center;
              border: 2px solid #000000;
              position: relative;

              &:after {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
                content: "";
                border-top: 10px solid #000000;
                border-right: 15px solid transparent;
                border-bottom: 0;
                border-left: 15px solid transparent;
                opacity: 0;
              }

              &.active {
                background: #000000;
                color: #fff;

                &:after {
                  opacity: 1;
                }
              }
            }
          }
        }

        .tab-content {
          margin: 50px 0;

        }
      }
    }

    .openings {
      ul {
        list-style: none;
        padding-left: 0;

        li {
          &.active, &:hover {
            a {
              color: #000000 !important;
              font-weight: 400;
              transition: all 0.2s;
            }
          }

          a {
            margin-bottom: 15px;
            color: #5A564F;
            font-weight: 300;
            display: block;
            transition: all 0.2s;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sidenav {
    display: none !important;;
  }
  .careers {
    .careers-inner {
      .career-block {
        a.apply-now {
          margin: 10px 0 0 0;
        }
      }

      .apply-now-form {
        #fileupload-img {
          height: auto;
          padding: 10px !important;

          span, img {
            display: inline-block;
          }

          img {
            padding-left: 10px;
          }
        }
      }
    }
  }
  a.call-button {
    top: auto;
    bottom: 15px;
    left: 15px;
    transform: none;
    width: max-content;
    padding: 10px 15px;

    &:hover {
      transform: none;
    }

    span {
      display: none;
    }

    img {
      margin-right: 0;
    }
  }
  .careers {
    .banner-common {
      background-image: url("../../assets/img/career-mobile.png");
    }

    .careers-inner {
      .tabs {
        .tab-sec {
          .nav-tabs {
            li.nav-item {
              width: calc((100% - 15px) / 2);
            }
          }

          .tab-content {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .contact-page {
    .banner-common {
      background-image: url("../../assets/img/contact-mobile.png");
    }

    .contact-inner {
      h4 {
        font-size: 30px;
        line-height: 45px;
      }

      h5 {
        font-size: 20px;
      }
    }
  }
  .blog-page {
    .banner-common {
      background-image: url("../../assets/img/blogs-mobile.png");
    }

    .blogs {
      .blog-block {
        h5 {
          font-size: 20px;
        }
      }
    }
  }

  .free-consultation {
    padding-bottom: 15px;
    background-color: #ec1b69;
    background-image: none;

    .text-content {
      padding-top: 50px;

      h4 {
        font-size: 40px;
        line-height: 40px;
      }
    }

    form {
      padding: 25px;
    }
  }
  .about-us {
    .banner-common {
      background-image: url("../../assets/img/about-mobile.png") !important;
    }

    .about-inner {
      h4 {
        font-size: 25px;
      }

      p {
        text-align: justify;
      }
    }

    .mobile-app {
      padding: 0;
      margin: 25px 0;
      background: none;

      &:after {
        display: none;
      }

      h3 {
        font-size: 25px;
      }

      span {
        position: initial;
      }

      h4 {
        padding: 10px 0 0 0;
        font-size: 17px;
      }
    }

    .our-team {
      h5 {
        font-size: 22px;
      }

      .team-row {
        .team-item {
          width: 100%;
          margin-bottom: 15px;
          box-shadow: rgba(139, 139, 139, 0.27) 1px 1px 5px 1px;

          .team-image {
            img {
              filter: grayscale(0) !important;
            }
          }

          .member-details {
            transform: none !important;
            padding: 5px;
            opacity: 1;
            text-align: center;

            h6 {
              font-size: 18px;
            }

            p {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  a.toggle-link {
    display: none;
  }
  //common

  .page {
    margin-top: 85px;
    padding-bottom: 25px;

    .banner-common {
      height: 280px;

      h1 {
        top: auto;
        bottom: 30px;
        left: 30px;
        transform: none;
        position: absolute;
        text-align: center;
        font-size: 35px;
      }
    }
  }
  .index {
    .banner-slider {
      margin-top: 84px;

      .banner-details {
        left: 30px !important;
        top: auto !important;
        bottom: 30px;
        transform: none !important;

        h1 {
          font-size: 35px !important;
          margin-bottom: 5px;
          line-height: 35px;
          //color: #000000 !important;
        }

        h5 {
          font-size: 14px !important;
          //color: #000000 !important;
          font-weight: 400;
        }

        a {
          padding: 2px 10px !important;
          //color: #000000 !important;
          border: 1px solid #ffffff;
          display: inline-block !important;
          font-size: 14px;
          border-radius: 3px;
          margin-top: 0 !important;

          &:before {
            display: none;
          }
        }
      }
    }

    .news-and-articles {
      margin: 25px 0;
      padding: 15px;

      h5 {
        padding-bottom: 30px;
      }

      .owl-nav {
        position: absolute;
        top: auto;
        right: 0;
        margin-top: 0;
      }
    }

    .our-services {
      min-height: auto;

      &:before {
        display: none;
      }

      .services {
        .owl-item {
          margin-top: 0 !important;
        }
      }
    }

    .about {
      padding: 25px 0;

      h2 {
        font-size: 36px;
        margin-bottom: 0;
      }

      a {
        margin: 25px 0;
      }
    }

    .portfolios {
      a.view-all {
        float: none;

        span {
          display: none;
        }
      }

      .portfolio-slider {
        .portfolio-details {
          opacity: 1 !important;
          background: rgba(255, 255, 255, 0.9);

          a.arrow {
            right: 15px !important;
          }

          h4 {
            line-height: 18px;
          }

          h3 {
            line-height: 18px;

            a {
              font-size: 16px !important;
              line-height: 18px;
            }
          }
        }
      }
    }

    .our-clients {
      .clients {
        .client {
          a {
            padding: 15px;
          }
        }
      }
    }


  }
  .social-media {
    display: none;
  }
  .navbar {
    height: auto !important;
    background: #ffffff !important;

    &.inner {
      .navbar-brand {
        padding: 0 15px 10px 15px;
      }
    }

    .navbar-brand {
      background: transparent !important;
      height: auto !important;
      width: auto !important;
      position: initial !important;

      img {
        max-height: 55px;
      }
    }

    .navbar-nav {
      text-align: center;
      background: #FFFFFF;

      .nav-item {
        margin-right: 0 !important;

        .nav-link {
          color: #000000 !important;
        }
      }
    }
  }
  .portfolio {
    .banner-common {
      background-image: url("../../assets/img/portfolio-mobile.png") !important;
    }

    .banner {
      margin-bottom: 25px;

      .portfolio-banner {
        .project {
          .project-image {
            img {
              height: 250px;
              object-fit: cover;
              object-position: center;

            }
          }

          .project-detail {
            transform: none;
            left: 15px;
            bottom: 25px;
            top: auto;

            h2 {
              font-size: 22px;
            }

            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .services-page {
    padding-bottom: 0;

    .banner-common {
      background-image: url("../../assets/img/services-mobile.png");
    }

    .all-services {
      background-image: none;

      .service {
        padding: 0;
        margin-bottom: 25px;

        .service-image {
          text-align: center;
        }

        .service-details {
          h4 {
            text-align: center;
          }

          p.count {
            left: 0;
            top: 2px;
          }
        }
      }
    }

    .lets-talk {
      h3 {
        font-size: 35px;

        img {
          padding-left: 0;
          max-height: 25px;
          position: relative;
          bottom: 5px;
        }
      }
    }

  }
  footer {
    .footer-top {
      padding: 25px 0;

      a.footer-logo {
        margin-bottom: 50px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .index {
    .our-services {
      min-height: auto;

      .services {
        margin: 50px 0;
      }
    }

    .about {

      h2 {
        font-size: 50px !important;
      }
    }

    .banner-slider {
      .banner-details {
        left: 150px !important;

        h1 {
          font-size: 35px !important;
        }

        h5 {
          font-size: 18px !important;
        }
      }
    }

    .news-and-articles {
      margin-bottom: 25px;
    }

    .free-consultation {
      .text-content {
        h4 {
          font-size: 40px;
          line-height: 40px;
        }
      }

      form {
        padding: 25px;
      }
    }

  }
  .container {
    padding: 0 70px;
  }
  .free-consultation {
    .text-content {
      h4 {
        font-size: 45px;
        line-height: 45px;
      }
    }

    form {
      padding: 15px;
    }
  }
  .services-page {
    .all-services {
      background-size: 250px;

      .service {
        padding: 25px 0 25px 25px;

        p.count {
          left: -25px !important;
        }
      }
    }
  }
  .contact-page {
    .contact-inner {
      h4 {
        font-size: 35px;
        line-height: 35px;
      }

      h5 {
        font-size: 30px;
      }
    }
  }
  .portfolio {
    .portfolio-banner {
      .project {
        .project-detail {
          left: 25% !important;
        }
      }
    }
  }
  .navbar {
    //height: auto !important;

    .navbar-nav {
      background: #FFFFFF;
      text-align: center;

      .nav-link {
        color: #7A7A7A !important;
      }
    }
  }
  .page {
    .banner-common {
      height: 265px;

      h1 {
        transform: translateY(180%);
        font-size: 65px;
      }
    }
  }


}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 75px;
  }
  .index {

    .banner-slider {
      .banner-details {
        left: 150px !important;

        h1 {
          font-size: 50px !important;
        }
      }
    }


    .our-services {
      min-height: auto;

      .services {
        margin: 50px 0;
      }
    }

    .about {
      h2 {
        font-size: 50px !important;
      }
    }

  }
  .container {
    padding: 0 75px;
  }
  .portfolio {
    .portfolio-banner {
      .project {
        .project-detail {
          left: 20% !important;
        }
      }
    }
  }
  .navbar {
    &.inner {
      .navbar-brand {
        padding-left: 0 !important;
      }
    }

    .navbar-nav {
      .nav-item {
        &:not(:last-child) {
          margin-right: 20px !important;
        }

        .nav-link {
          padding: 10px !important;
          font-size: 14px !important;
        }
      }
    }
  }
  .page {
    .banner-common {
      height: 265px;

      h1 {
        transform: translateY(180%);
        font-size: 65px;
      }
    }
  }


}

@media (min-width: 1200px) and (max-width: 1440px) {
  .index {
    .banner-slider {
      h1 {
        font-size: 60px !important;
      }
    }
  }
  .container {
    padding: 0 75px;
    max-width: 1140px !important;
  }
  .portfolio {
    .portfolio-banner {
      .project {
        .project-detail {
          left: 20% !important;
        }
      }
    }
  }
  .navbar {
    .navbar-nav {
      .nav-link {
        padding: 10px 15px !important;
        font-size: 15px !important;
      }
    }
  }
  .page {
    .banner-common {
      height: 350px;

      h1 {
        transform: translateY(170%);
      }
    }
  }


}

@media (min-width: 1600px) {
  .index {
  }
  .container {
    max-width: 1400px;
    padding: 0 75px;
  }
}
